<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.mapper.RestaurantMapper">

    <select id="getCount" resultType="Integer">
        SELECT count(*)
        FROM restaurant
    </select>

    <insert id="restaurantSave" parameterType="RestaurantSaveDto">
        INSERT INTO restaurant (title
                            , category
                            , address
                            , writer
                            , pwd
                            , content)
        VALUES (#{title}
                , #{category}
                , #{address}
                , #{writer}
                , #{pwd}
                , #{content})
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="restaurantImgSave" parameterType="FileDto">
        INSERT INTO restaurant_file (orgin_name
                                , file_size
                                , file_url
                                , change_name
                                , restaurant_id)
        VALUES (#{orginName}
                , #{fileSize}
                , #{fileUrl}
                , #{changeName}
                , #{restaurantId})
    </insert>

    <select id="getRestaurant" parameterType="Integer" resultType="RestaurantDto">
        SELECT r.title AS title
             ,(CASE WHEN category = 1 THEN '한식'
                    WHEN category = 2 THEN '중식'
                    WHEN category = 3 THEN '일식'
                    WHEN category = 4 THEN '양식'
                    ELSE '기타' END) AS categoryName
             ,r.address AS address
             ,r.writer AS writer
             ,r.content AS content
             ,f.orgin_name AS orgImgName
             ,f.change_name AS changeName
             ,f.file_url AS fileUrl
        FROM restaurant AS r
        JOIN restaurant_file AS f ON r.id = f.restaurant_id
        WHERE r.id = 4
        AND f.status = 'Y'
    </select>

    <select id="getEncodePwd" parameterType="Integer" resultType="String">
        SELECT pwd
        FROM restaurant
        WHERE id = 4
    </select>

    <update id="fileEditStatus" parameterType="Integer">
        UPDATE restaurant_file SET status = 'N'
        WHERE restaurant_id = #{id}
    </update>

    <update id="restaurantEdit" parameterType="RestaurantEditDto">
        UPDATE restaurant SET title = #{title}
                            ,category = #{category}
                            ,address = #{address}
                            ,content = #{content}
        WHERE id = #{id}
    </update>

</mapper>