<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>H202046035(졸업 프로젝트)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables/datatables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables/buttons.dataTables.min.css}">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <style>
        .btn-area{
            padding-right: unset !important;
            padding-left: unset !important;
        }
        .communityFont{
            color: #121212 !important;
            font-weight : 400 !important;
        }
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">shinhunwoo@naver.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-8792-1159</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center mainfont" th:href="@{/main}">
                EatToday
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav" th:replace="~{/fragment/menu :: menuBar}">
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1" style="font-weight: bold !important;">커뮤니티 게시판</h1>
            <p style="font-weight: bold !important;">
                맛집 소개 및, 자유 게시판 입니다.
            </p>
            <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>수정/삭제</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <div class="col-md-6 m-auto" style="margin-top:20px !important;">
            <div class="row">
                <div style="text-align:right;">
                    <button class="btn-dark" th:onclick="|location.href='@{community/save-form}'|" style="font-size: medium !important;">등록하기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-12 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">한양사이버대학교 졸업과제(오늘 뭐 먹지)</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            경기도 고양시 일산서구 주엽동 강선마을 811동 1502호
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-8792-1159</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">shinhunwoo@naver.com</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>

            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            오늘 뭐 먹지&copy;한양사이버대학교 H202046035 응용소프트웨어 신헌우
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-black passwordBtn" data-toggle="modal" data-target="#passwordModal"></button>
        <!-- Modal -->
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordModalLabel">비밀번호 검증 폼</h5>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12 mt-12">
                            <div class="mb-3">
                                <form>
                                    <label for="passwodCheck" class="form-label">게시글 비밀번호</label>
                                    <input type="password" class="form-control" id="passwodCheck">
                                    <input type="hidden" id="communityId" value="">
                                    <input type="hidden" id="type" value="">
                                    <div class="field-error">
                                        <span id="errText"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="passwordCheck()">전송하기</button>
                        <button type="button" class="btn btn-dark" onclick="removeModel()">돌아가기</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Load map styles -->
    <script th:src="@{/js/dataTables/datatables.js}"></script>
    <script th:src="@{/js/dataTables/full_numbers_no_ellipses.js}"></script>
    <script th:if="${message}">
        alert("[[${message}]]");  // JavaScript alert을 띄우는 코드
    </script>
    <script>
        $(document).ready(function () {
            list();
        });

        function list(){
            $('#example').DataTable({
                pageLength: 10,
                pagingType: "full_numbers_no_ellipses",
                autoWidth: false,
                ordering: true,
                paging: true,
                bPaginate: true,
                bLengthChange: false,
                processing: false,
                serverSide: true,
                ajax: {
                    url:"/community/list",
                    type:"get",
                    dataType: "json",
                    dataFilter: function(data){
                        let obj = new Object();
                        let json = jQuery.parseJSON(data);
                        obj.recordsTotal = json.data.totalRow;
                        obj.recordsFiltered = json.data.totalRow;
                        obj.data = json.data.contents;

                        return JSON.stringify(obj);
                    }
                },
                bDestroy : true,
                columns: [
                    {"data": function (data) {
                            return "<a class='communityFont' href='/community/"+data.id+"'>"+data.subject+"</a>";
                        }
                    },
                    {"data": "writer"},
                    {"data": "regdate"},
                    {"data": function(data){
                            return "<div class='row'><div class='col-md-6 btn-area'><button class='btn-dark' onclick='editCommunityModal("+data.id+")' style='font-size: small !important;'>수정</button></div><div class='col-md-6 btn-area'><button class='btn-danger' onclick='deleteCommunityModal("+data.id+")' style='font-size: small !important;'>삭제</button></div></div>"
                        }
                    }

                ],
                language: {
                    paginate: {
                        first: '<img src="../../images/btn-pagenation-first.svg">',
                        last: '<img src="../../images/btn-pagenation-last.svg">',
                        previous: '<img src="../../images/btn-pagenation-prev.svg">',
                        next: '<img src="../../images/btn-pagenation-next.svg">'

                    },
                    emptyTable: '<div class="no_result">등록된 게시글이 없습니다.</div>',
                    zeroRecords: '<div class="no_result">등록된 게시글이 없습니다.</div>'
                },
                drawCallback: function (settings) {
                    if (settings._iRecordsTotal === 0) {
                        $(".dataTables_paginate").addClass("none");
                    } else {
                        $(".dataTables_paginate").removeClass("none");
                    }
                }
            });
            $('table.dataTable thead th').css('text-align', 'center');
        }

        function deleteCommunityModal(id){
            let result = confirm('정말로 해당글을 삭제하시겠습니까?');
            if(result) {
                $('#passwordModal').modal({backdrop: 'static', keyboard: false});
                $('#passwordModal').modal('show');
                $('#communityId').val(id);
                $('#type').val('delete');
            } else {
                return false;
            }
        }

        function editCommunityModal(id){
            $('#passwordModal').modal({backdrop: 'static', keyboard: false});
            $('#passwordModal').modal('show');
            $('#communityId').val(id);
            $('#type').val('edit');
        }

        function removeModel(){
            $('#passwordModal').modal('hide');
        }
        $('.modal').on('hidden.bs.modal', function (e) {
            $('#passwodCheck').removeClass('field-error');
            $('#errText').text('');
            $(this).find('form')[0].reset();
        })

        function passwordCheck(){
            let id = $('#communityId').val();
            let pwd = $('#passwodCheck').val();
            let type = $('#type').val();
            $.ajax({
                type: "post",
                url: "/community/password-check",
                data: {"id": id,
                       "pwd": pwd},
                dataType: "json",
                async:false
            }).done(res => {
                console.log('전송성공');
                console.log(res);
                if(res.status != 200){
                    $('#passwodCheck').addClass('field-error');
                    $('#errText').text(res.message);
                }else{
                    $('#passwodCheck').removeClass('field-error');
                    $('#errText').text('');
                    if(type == 'delete'){
                        deleteCommunity(id);
                    }else{
                        location.href="/community/edit/" + id;
                    }
                }
            }).fail(error => {
                if(error.responseJSON.data == null){
                    alert(error.responseJSON.message);
                }else{
                    alert(JSON.stringify(error.responseJSON.data));
                }
            });
        }
        function deleteCommunity(id){
            $.ajax({
                type: "patch",
                url: "/community/delete-community",
                data: {"id": id},
                dataType: "json",
                async:false
            }).done(res => {
                console.log('전송성공');
                console.log(res);
                alert('게시글 삭제 완료');
                location.href="/community";
            }).fail(error => {
                if(error.responseJSON.data == null){
                    alert(error.responseJSON.message);
                }else{
                    alert(JSON.stringify(error.responseJSON.data));
                }
            });
        }
    </script>
</body>

</html>