<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>H202046035(졸업 프로젝트)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/templatemo.css">
    <link rel="stylesheet" href="../assets/css/custom.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">
    <style>
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">shinhunwoo@naver.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-8792-1159</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center mainfont" th:href="@{/main}">
                EatToday
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav" th:replace="~{/fragment/menu :: menuBar}">

            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <!-- col end -->
                <div class="col-lg-12 mt-12" style="margin-top:100px;">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/community/save}" th:object="${communitySaveDto}" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="exampleInputTitle" class="form-label">제목</label>
                                    <input type="text" class="form-control" id="exampleInputTitle" th:field="*{subject}" aria-describedby="titleHelp"
                                           th:errorclass="field-error"
                                           placeholder="제목을 입력해주세요"
                                    >
                                    <div class="field-error" th:errors="*{subject}">
                                        식당명 오류
                                    </div>
                                   <!-- <div id="titleHelp" class="form-text">식당명을 입력해주세요.</div>-->
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{content}"
                                              th:errorclass="field-error"
                                              placeholder="내용을 입력해주세요"
                                    ></textarea>
                                    <div class="field-error" th:errors="*{content}">
                                        내용입력 오류
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">비밀번호</label>
                                    <input type="password" class="form-control" th:field="*{pwd}" id="exampleInputPassword1"
                                           th:errorclass="field-error"
                                           placeholder="비밀번호를 입력하세요"
                                    >
                                    <div class="field-error" th:errors="*{pwd}">
                                        비밀번호 입력 오류
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword2" class="form-label">비밀번호 확인</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" th:field="*{pwdCheck}"
                                           th:errorclass="field-error"
                                           placeholder="비밀번호를 입력하세요"
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputWriter" class="form-label">작성자</label>
                                    <input type="text" class="form-control" id="exampleInputWriter" th:field="*{writer}"
                                           th:errorclass="field-error"
                                           placeholder="작성자명을 입력하세요"
                                    >
                                    <div class="field-error" th:errors="*{writer}">
                                        작성자명 오류
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div th:if="${#fields.hasGlobalErrors()}">
                                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">공통 검증 오류</p>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-dark">등록</button>
                                <button type="button" class="btn btn-secondary" onclick="location.href='/community'">돌아가기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Article -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer" style="margin-top: 167px !important;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">한양사이버대학교 졸업과제(오늘 뭐 먹지)</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            경기도 고양시 일산서구 주엽동 강선마을 811동 1502호
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-8792-1159</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">shinhunwoo@naver.com</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>

            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            오늘 뭐 먹지&copy;한양사이버대학교 H202046035 응용소프트웨어 신헌우
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="../../assets/js/jquery-1.11.0.min.js"></script>
    <script src="../../assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/templatemo.js"></script>
    <script src="../../assets/js/custom.js"></script>
    <!-- End Script -->
    <script th:if="${message}">
        alert("[[${message}]]");  // JavaScript alert을 띄우는 코드
    </script>

    <!-- Start Slider Script -->


</body>

</html>