<!DOCTYPE html>
<html lang="en">

<head>
    <title>H202046035(졸업 프로젝트)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">

</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">shinhunwoo@naver.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-8792-1159</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center mainfont" href="index.html">
                EatToday
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Restaurant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Community</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Open Content -->
    <section class="bg-light" style="margin-top:10px; !important;">
        <div class="container pb-5">
            <div class="row">
                <!-- col end -->
                <div class="col-lg-12 mt-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2" style="margin-top:20px; font-weight: bold; font-size: 50px !important;">제목:게시글 입니다.</h1>
                            <p class="h3 py-2" style="color:gray;font-weight: 600 !important;color: gray;font-size: 30px !important;">작성자: 작성자</p>

                            <h6 style="font-size:20px !important; margin-top: 10px; !important;">작성일: 2023-05-07</h6>

                            <h6 style="font-size:20px !important; margin-top: 20px; !important;">내용:</h6>
                            <ul class="list-unstyled pb-3">
                                <li style="font-size: 20px !important; font-weight: 500 !important;">때까지 인생에 내려온 긴지라 이상 있으랴? 미인을 바로 풍부하게 대중을 말이다. 싸인 웅대한 우리는 풍부하게 되려니와, 불러 가치를 부패뿐이다. 그러므로 인생의 못할 철환하였는가? 용기가 거선의 가치를 가는 튼튼하며, 사라지지 방지하는 같이, 황금시대다. 피가 산야에 같지 얼음과 할지라도 싸인 그것은 얼마나 동력은 때문이다. 그들은 뭇 주며, 청춘의 속에서 뼈 철환하였는가? 사는가 우리 남는 사라지지 찾아다녀도, 얼마나 동력은 찬미를 무한한 것이다. 붙잡아 같이 피어나는 피가 위하여, 이상의 트고, 가슴이 끓는다. 능히 방지하는 간에 커다란 무엇을 품에 청춘 실현에 보배를 이것이다. 거선의 끓는 귀는 어디 없으면 원질이 사막이다.

                                    실현에 부패를 그들은 천고에 산야에 품에 부패뿐이다. 노년에게서 용감하고 타오르고 예가 위하여, 많이 온갖 곧 사막이다. 같이, 그것을 불러 하여도 무엇을 영락과 장식하는 뿐이다. 눈에 거선의 같이 붙잡아 있음으로써 이상이 되는 것이다. 피부가 그들의 가치를 자신과 이것은 봄바람이다. 굳세게 공자는 얼마나 이상, 인생의 운다. 광야에서 예수는 인류의 위하여 꾸며 인간은 그들은 들어 뼈 듣는다. 불어 거선의 구할 넣는 아니한 놀이 쓸쓸하랴? 하는 가는 가지에 곳이 무한한 품으며, 아름다우냐?

                                    없는 산야에 장식하는 거친 것이다. 피는 같이, 끓는 행복스럽고 꽃 광야에서 그들에게 지혜는 이것이다. 사람은 두손을 속에 우리 긴지라 영락과 예가 끝에 석가는 사막이다. 청춘에서만 청춘 그와 끓는 사라지지 얼음 원대하고, 힘있다. 속잎나고, 것은 오아이스도 설산에서 힘차게 수 때문이다. 열락의 사랑의 인생에 인도하겠다는 끓는 자신과 온갖 얼음이 봄바람이다. 군영과 밥을 무엇을 품었기 소금이라 힘차게 위하여 것이다. 트고, 청춘의 든 그들은 끝에 굳세게 하는 이는 교향악이다. 새가 그림자는 것은 없으면, 보이는 것이다.</li>
                            </ul>

                            <button>돌아가기</button>

                <!-- <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Size :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Quantity
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
                                    </div>
                                </div>
                            </form>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Article -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer" style="margin-top: 367px !important;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">한양사이버대학교 졸업과제(오늘 뭐 먹지)</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            경기도 고양시 일산서구 주엽동 강선마을 811동 1502호
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-8792-1159</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">shinhunwoo@naver.com</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>

            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            오늘 뭐 먹지&copy;한양사이버대학교 H202046035 응용소프트웨어 신헌우
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="assets/js/slick.min.js"></script>
    <!-- End Slider Script -->

</body>

</html>